@import "../../assets/styles/1-variables";

.header {
    padding-top: 2rem;
    padding-bottom: 2rem;

    &:after {
        content: '';
        border-bottom: 1px solid $not-black;
        width: calc(100% - #{$margin}px - #{$margin}px);
        position: absolute;
        bottom: 0;
        left: #{$margin}px;
    }
}

.header__nav {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 4rem;
    width: 100%;

    a {
        font-weight: 500;
    }
}

.header__nav__modal {
    display: none;
    position: absolute;
    z-index: 3;
    background-color: $black;
    font-size: 1.05rem;
    padding: 1.2rem 2.3rem;
    border-radius: 2rem;
    top: 4rem;
    right: 0;

    &.open {
        display: block;
    }

    ul {
        margin: 0;
        padding: 0;
    }

    li {
        list-style: none;
        margin: 1.1rem 0;
    }

    a {
        color: $cream;
        text-decoration: none;
        font-weight: 500;

        &:hover,
        &:focus {
            text-decoration: underline;
        }
    }
}