@import "../../assets/styles/1-variables";

.header {
    padding: 2rem 0;
    border-bottom: 1px solid $black;
}

.header__nav {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 4rem;
    width: 100%;
}

.header__nav__modal {
    display: none;
    position: absolute;
    z-index: 3;
    background-color: $black;
    font-size: 1.05rem;
    padding: 1.2rem 2.3rem;
    border-radius: 2rem;
    top: 4rem;
    right: 0;

    &.open {
        display: block;
    }

    ul {
        margin: 0;
        padding: 0;
    }

    li {
        list-style: none;
        margin: 1.1rem 0;
    }

    a {
        color: $cream;
        text-decoration: none;

        &:hover,
        &:focus {
            text-decoration: underline;
        }
    }
}