# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
/.history

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts


# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history
.next
/.next
.next/static/development/_buildManifest.js
.next/static/css/app/layout.css
.next/static/chunks/webpack.js
.next/static/chunks/app/layout.js
.next/server/webpack-runtime.js
.next/server/vendor-chunks/next.js
.next/server/vendor-chunks/@swc.js
.next/server/server-reference-manifest.json
.next/server/server-reference-manifest.js
.next/server/pages-manifest.json
.next/server/middleware-build-manifest.js
.next/server/app/about/page_client-reference-manifest.js
.next/server/app-paths-manifest.json
.next/cache/webpack/server-development/index.pack.gz.old
.next/cache/webpack/server-development/index.pack.gz
.next/cache/webpack/server-development/5.pack.gz
.next/cache/webpack/server-development/3.pack.gz
.next/cache/webpack/server-development/1.pack.gz
.next/cache/webpack/client-development/index.pack.gz.old
.next/cache/webpack/client-development/index.pack.gz
.next/cache/webpack/client-development/7.pack.gz
.next/cache/webpack/client-development/6.pack.gz
.next/build-manifest.json
.next/app-build-manifest.json
