---
title: Projects & Posts
---

{% include header.html %}

<main class="posts wo">
    <h1 class="h1 pv">
        Projects & Posts
    </h1>
    <div class="posts__wrapper">
        <article class="post-preview">
            <h2>
              <a href="">
                Post title
              </a>
            </h2>
            <p>
              Here be the date
            </p>
            <p>
              Here be the summary
            </p>
        </article>
    </div>
</main>

{% include footer.html %}