@import '../../assets/styles/1-variables.scss';

.post-preview {
    border: 1px solid $not-black;
    border-radius: 2rem;
    padding: 1.5rem 1.8rem 1.8rem 1.8rem;
    max-width: 29rem;
    width: calc(50% - 5rem);  

    @media screen and (min-width: $desktop) {
        width: calc(33% - 5rem);
    }

    @media screen and (max-width: $mobile) {
        width: 100%;
    }

    h2 a {
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 1.2;

        @media screen and (min-width: $desktop) {
            font-size: 2.25rem;
        }
    }

    p {
        font-size: 1.125rem;
        line-height: 1.6;
    }

    h2, 
    p {
        margin: 0;
        padding: 0;
    }

    time {
        display: inline-block;
        font-family: $mono;
        text-transform: uppercase;
        margin-top: 0.8rem;
        margin-bottom: 1.1rem;
    }
}