@import '../../assets/styles/1-variables.scss';

.post-preview {
    border: 1px solid $not-black;
    border-radius: 2rem;
    padding: 1rem 1.5rem 1.5rem 1.5rem;

    h2 a {
        font-size: 2.25rem;
        font-weight: 600;
    }

    p {
        font-size: 1.125rem;
    }

    h2, 
    p {
        margin: 0;
        padding: 0;
    }

    time {
        text-transform: uppercase;
    }
}