@import '../../../assets/styles/1-variables.scss';

.post__aside {

    @media screen and (min-width: $desktop) {
        margin-top: - 4rem;
    }

    time,
    p {
        font-family: $mono;
    }

    p {
        margin: 0;
        padding: 0;
    }

    time {
        display: inline-block;
        font-weight: bold;
        margin-bottom: 3rem;
    }
}

.post__summary {
    button {
        background: transparent; 
        border: none;
        border-top: 1px solid $black;
        border-bottom: 1px solid $black;
        width: 100%;
        font-size: 1.125rem;
        font-weight: 600;
        padding: 0.5rem 0;
        margin: 3rem 0 1rem;
    }
}