/* ~~~~~~~~~~~~~~~~~~~~~ layout.scss */
$column-count: 12; 
$column-count-m: 9; 
$column-count-s: 4; 
$margin: 50;
$margin-m: 40;
$margin-s: 20;
$column-gap: 50;

/* ~~~~~~~~~~~~~~~~~~~~~ responsive values */
$desktop: 90rem;
$tablet: 70rem;
$mobile: 50rem;

/* ~~~~~~~~~~~~~~~~~~~~~ theme colors */
$black: #292727;
$cream: #F4F0E9;
$not-black: #413D3A;

/* ~~~~~~~~~~~~~~~~~~~~~ typography */
$sans: "Space Grotesk", sans-serif;
$mono: "Space Mono", monospace;
$blackletter: "Pirata One", serif;

/* ~~~~~~~~~~~~~~~~~~~~~ other */
$easing: cubic-bezier(0.83, 0, 0.17, 1);