* {
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.125rem;

    @media screen and (max-width: $mobile) {
        font-size: 1.3rem;
    }
}

h1,
h2,
h3 {
    font-family: $blackletter;
    letter-spacing: -0.025em;
    word-spacing: 0.08em;
}

.h1--large {
    font-size: clamp(2rem, 12vw, 7rem);
    line-height: 1;
    margin: 0;
    margin-bottom: 4rem;
}

.h1 {
    font-size: 3.3rem;
    line-height: 1;
    margin: 0;
}

.wysiwyg {
    max-width: 65ch;

    >*:first-child {
        margin: 0;
        padding: 0;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: $sans;
        font-weight: bold;
        margin: 2rem 0 1rem 0;
    }

    h2 {
        font-size: 2.8rem;

        @media screen and (max-width: $mobile) {
            font-size: 2.2rem;
        }
    }

    h3 {
        font-size: 2.4rem;

        @media screen and (max-width: $mobile) {
            font-size: 2rem;
        }
    }

    h4 {
        font-size: 1.8rem;
    }

    h5 {
        font-size: 1.3rem;
    }

    h6 {
        font-family: $mono;
        text-transform: uppercase;
    }

    a {
        text-underline-offset: 0.25rem;
        text-decoration-color: $not-black;
    }

    li,
    p {
        margin: 0.8rem 0;
    }

    strong {
        font-weight: 800;
    }

    em {
        font-style: italic;
    }

    img {
        margin: 2rem 0;
        max-width: 100%;
    }
}

main,
footer {
    a:hover {
        text-decoration-thickness: 2px;
    }
}

code {
    background-color: white;
    border-radius: 0.25rem;
    padding: 0 0.25rem;
    font-family: $mono;
}

@media screen and (min-width: $desktop) {
    .h1 {
        font-size: 5.375rem;
    }
}