.posts__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-bottom: 4rem;
}

#summaryToggle {
    background: transparent;
    border: none;
    border-top: 1px solid $black;
    border-bottom: 1px solid $black;
    width: 100%;
    font-weight: 600;
    padding: 0.5rem 0;
    margin: 3rem 0 1rem;
    cursor: pointer;
    transition: 0.2s all ease-in-out;

    &:hover {
        padding: 0.8rem 0;
    }

    &[aria-expanded="true"] {
        border-bottom: none;
    }
}

.summary {
    display: none;
    max-width: 100% !important;
    padding: 1rem 0 2rem 0 !important;
    margin-bottom: 2rem;
    border-bottom: 1px solid $black;

    @media screen and (min-width: $mobile) {
        padding: 1rem 2rem 2rem 2rem !important;
    }

    &.open {
        display: block;
    }
}

.post__summary {
    margin-bottom: 2rem;
}

.post__aside {
    margin-top: 4rem; 

    @media screen and (min-width: $desktop) {
        margin-top: -5rem;
    }

    time,
    p {
        font-family: $mono;
    }

    p {
        margin: 0;
        padding: 0;
    }

    time {
        display: inline-block;
        font-weight: bold;
        margin-bottom: 3rem;
    }
}