/* ~~~~~~~~~~~~~~~~~~~~~ layout.scss */
$column-count: 12; 
$column-count-m: 9; 
$column-count-s: 4; 
$margin: 50;
$margin-m: 40;
$margin-s: 20;
$column-gap: 50;

/* ~~~~~~~~~~~~~~~~~~~~~ theme colors */

/* ~~~~~~~~~~~~~~~~~~~~~ other */
$easing: cubic-bezier(0.83, 0, 0.17, 1);

/* ~~~~~~~~~~~~~~~~~~~~~ typography */