html {
    font-size: 0.8rem;

    @media screen and (min-width: $mobile) and (max-width: $desktop) {
        font-size: 0.95rem;
    }

    @media screen and (min-width: $desktop) {
        font-size: 1rem;
    }
}

body {
    background-color: $cream;

    * {
        color: $black;
        line-height: 1.5;
    }
}

.skip-link {
    display: block;
    position: absolute;
    left: -$desktop;
    top: -$desktop;
    background-color: $black;
    border: 2px solid $cream;
    color: $cream;
    font-size: 2rem;
    padding: 0.8rem 1.5rem;
    border-radius: 2.1rem;
    text-decoration: none;

    &:focus {
        left: 0;
        top: 0;
        outline: 1px solid $black;
    }
}

.button {
    display: inline-block;
    background: transparent;
    border: 1px solid $black;
    font-size: 1.438rem;
    font-weight: 500;
    padding: 0.45rem 1.2rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: 0.2s all ease-in-out;

    &:hover,
    &:focus {
        background-color: $black;
        color: $cream;
        outline: 2px solid $black;
        outline-offset: 5px;        
    }
}

.decorative--blend-mode{
    mix-blend-mode: multiply;
}

