html {
    font-size: 1rem;
}

body {
    background-color: $cream;

    * {
        color: $black;
        line-height: 1.5;
        font-size: 1rem;
    }
}

.button {
    display: inline-block;
    background: transparent;
    border: 1px solid $black;
    font-size: 1.1rem;
    padding: 0.45rem 1.2rem;
    border-radius: 1rem;
    cursor: pointer;
}