* {
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

h1, h2, h3 {
    font-family: $blackletter;
}

.h1--large {
    font-size: 7rem;
    line-height: 1;
    margin: 0;
}

.h1 {
    font-size: 3.3rem;
    line-height: 1;
    margin: 0;
}

.wysiwyg {
    max-width: 65ch;

    > *:first-child {
        margin: 0;
        padding: 0;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: $sans;
        font-weight: bold;
        margin: 2rem 0 1rem 0;
    }

    h2 {
        font-size: 2.8rem;
    }

    h3 {
        font-size: 2.4rem;
    }

    h4 {
        font-size: 1.8rem;
    }

    h5 {
        font-size: 1.3rem;
    }

    h6 {
        font-family: $mono;
        text-transform: uppercase;
        font-size: 1.125rem;
    }

    li,
    p {
        margin: 0.8rem 0;
        font-size: 1.125rem;
    }

    strong {
        font-weight: 800;
    }

    em {
        font-style: italic;
    }

    img {
        margin: 2rem 0;
    }
}

@media screen and (min-width: $desktop) {
    .h1 {
        font-size: 5.375rem;
    }
}