* {
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

h1, h2, h3 {
    font-family: $blackletter;
}

.h1--large {
    font-size: 7rem;
    line-height: 1;
    margin: 0;
}

.h1 {
    font-size: 5.375rem;
    line-height: 1;
    margin: 0;
}