.footer {
    margin-bottom: 30px;
    margin-top: 30px;
}

.footer__container {
    // if we ever want to have more than one item in the footer, we'ree prepared
    display: flex;
    justify-content: space-between;
}