/*!***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[13].use[5]!./components/latest-post/latest-post.scss ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@import url("https://fonts.googleapis.com/css2?family=Pirata+One&family=Space+Grotesk:wght@300..700&family=Space+Mono&display=swap");
/* ~~~~~~~~~~~~~~~~~~~~~ layout.scss */
/* ~~~~~~~~~~~~~~~~~~~~~ responsive values */
/* ~~~~~~~~~~~~~~~~~~~~~ theme colors */
/* ~~~~~~~~~~~~~~~~~~~~~ typography */
/* ~~~~~~~~~~~~~~~~~~~~~ other */
.latest-post {
  border: 1px solid #413D3A;
  border-radius: 2rem;
  padding: 1.5rem 1.8rem 1.8rem 1.8rem;
  max-width: 29rem;
}
.latest-post h3 a {
  font-size: 2.25rem;
  font-weight: 600;
  line-height: 1.2;
}
.latest-post h2,
.latest-post p {
  margin-bottom: 0;
}
.latest-post h2,
.latest-post h3 {
  margin: 0;
  padding: 0;
}
.latest-post h2 {
  display: inline-block;
  font-family: "Space Mono", monospace;
  margin-bottom: 1.5rem;
}
