{% include header.html %}

<main id="mainContent" class="post pv">
    <article class="wo">
        <header class="post__header col-4-10 m-col-2-9">
            <h1 class="h1">
                {{ page.title }}
            </h1>
        </header>

        <div class="post__aside col-1-4 m-col-2-9">
            <time class="post__date" datetime="{{ page.date }}">
                {{ page.date | date: "%B %e, %Y" }}
            </time>
            <p>
                Penned by “{{ page.author }}”
            </p>
            <p>
                Categorized as “{{ page.categories }}”
            </p>
        </div>

        <div class="post__summary col-4-10 m-col-2-9">
            <button id="summaryToggle" aria-expanded="false">
                Read the summary +
            </button>
            <p class="summary">
                {{ page.summary }}
            </p>
        </div>

        <div class="wysiwyg col-4-10 m-col-2-9">
            {{ content }}
        </div>

    </article>
</main>


{% include footer.html %}